<div class="container-fluid">
    <h1 class="text-center">Voeg een kruidenformule toe</h1>
    <form ng-submit="$event.preventDefault()">
        <div class=" form-group">
            <label>Naam: <input type="text" ng-model="kruidenformule.Naam" autofocus /></label><br>
            <label>Werking: <input type="text" ng-model="kruidenformule.Werking" /></label><br>
            <label>Contra Indicaties: <input type="text" ng-model="kruidenformule.ContraIndicatie" /></label><br>
        </div>
        <!-- Kruiden Toevoegen -->
        <div class="form-group row">
            <div class="col-5">
                <h1>Kruid Toevoegen</h1>
                <div>
                    <md-autocomplete md-selected-item="selectedKruid" ng-disabled="isDisabled" md-no-cache="noCache"
                        md-search-text-change="searchTextChange(searchKruid)" md-search-text="searchKruid"
                        md-selected-item-change="selectedItemChangeKruid(kruid)"
                        md-items="kruid in querySearch(searchKruid, 'kruid')" md-item-text="kruid.Nederlands"
                        md-min-length="0" placeholder="Selecteer een optie">
                        <md-item-template>
                            <span md-highlight-text="searchKruid" md-highlight-flags="^i">{{kruid.Nederlands}}</span>
                        </md-item-template>
                        <md-not-found>
                            Geen kruiden gevonden met de naam: "{{searchKruid}}".
                        </md-not-found>
                    </md-autocomplete>
                </div>

                <!-- Maak hier een tabel met de aangevinkte symptomen -->
                <table>
                    <tr>
                        <th>Kruid</th>
                    </tr>
                    <tr ng-repeat="k in selectedKruiden">
                        <td>{{k.Nederlands}} <a class="btn btn-primary" ng-click="test()">Delete</a></td>
                    </tr>
                </table>
            </div>
            <div class="col-2"></div>

            <!-- Symptomen Toevoegen -->
            <div class="col-5">
                <h1>Symptoom Toevoegen</h1>
                <md-autocomplete md-selected-item="selectedSymptoom" ng-disabled="isDisabled" md-no-cache="noCache"
                    md-search-text-change="searchTextChange(searchSymptoom)" md-search-text="searchSymptoom"
                    md-selected-item-change="selectedItemChangeSymptoom(symptoom)"
                    md-items="symptoom in querySearch(searchSymptoom, 'symptoom')" md-item-text="symptoom.Naam"
                    md-min-length="0" placeholder="Selecteer een optie" ng-model-options=" {debounce: 200}">
                    <md-item-template>
                        <span md-highlight-text="searchSymptoom" md-highlight-flags="^i">{{symptoom.Naam}}</span>
                    </md-item-template>
                    <md-not-found>
                        Geen kruiden gevonden met de naam: "{{searchSymptoom}}".
                    </md-not-found>
                </md-autocomplete>

                <!-- Maak hier een tabel met de aangevinkte symptomen -->
                <table>
                    <tr>
                        <th>Symptoom</th>
                    </tr>
                    <tr ng-repeat="s in selectedSymptomen">
                        <td>{{s}} <a class="btn btn-primary" ng-click="test()">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
        <button class="col align-self-end btn btn-primary" ng-click="updateKruidenFormule(kruidenformule)">Sla deze
            kruidenformule
            op</button>
    </form>
</div>