<div>
    <form class="css-form">
        <label>Nederlands: <input type="text" ng-model="kruid.Nederlands" autofocus /></label><br>
        <label>Latijns: <input type="text" ng-model="kruid.Latijns" /></label><br>
        <label>Familie: <input type="text" ng-model="kruid.Familie" /></label><br>
        <label>Inhoudsstoffen: <input type="text" ng-model="kruid.Inhoudsstoffen" /></label><br>
        <label>Toepassing: <input type="text" ng-model="kruid.Toepassing" /></label><br>
        <label>Eigenschappen: <input type="text" ng-model="kruid.Eigenschappen" /></label><br>
        <label>Actie: <input type="text" ng-model="kruid.Actie" /></label><br>
        <label>Gebruik: <input type="text" ng-model="kruid.Gebruik" /></label><br>
        <label>Let Op: <input type="text" ng-model="kruid.LetOp" /></label><br>
        <label>Smaak: <input type="text" ng-model="kruid.Smaak" /></label><br>
        <label>Dosering: <input type="text" ng-model="kruid.Dosering" /></label><br>
        <label>Thermische Waarde: <input type="text" ng-model="kruid.ThermischeWaarde" /></label><br>
        <label>Gebruikte Delen: <input type="text" ng-model="kruid.GebruikteDelen" /></label><br>
        <label>Orgaan: <input type="text" ng-model="kruid.Orgaan" /></label><br>

        <input type="submit" value="Save" ng-click="updateKruid(kruid)">
    </form>
</div>