<div ng-controller="AddSymptoomController">
    <form class="css-form">
        <label>Naam: <input type="text" ng-model="symptoom.Naam" autofocus /></label><br>

        <input type="submit" value="Save" ng-click="updateSymptoom(symptoom)">
    </form>
    <md-virtual-repeat-container id="vertical-container" class="row">
        <div md-virtual-repeat="d in symptoomData | filter:search" class="repeated-item" flex>
            <span class="col s10">{{d.Naam}}</span>
            <span class="col s2">d</span>
        </div>
    </md-virtual-repeat-container>
</div>