<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Hello World!</title>

    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="node_modules/angular-material/angular-material.min.css">
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="node_modules/angular-aria/angular-aria.min.js"></script>
    <script src="node_modules/angular-material/angular-material.min.js"></script>
</head>

<body ng-app="ChineseGezondheidsleer">
    <!-- Toolbar -->
    <header id="titlebar">
        <div id="drag-region">
            <div id="window-title">
                <h2>Chinese Gezondheidsleer</h2>
            </div>
            <div id="window-controls">
                <div class="button" id="min-button">
                    <span>&#xE921;</span>
                </div>
                <div class="button" id="max-button">
                    <span>&#xE922;</span>
                </div>
                <div class="button" id="restore-button">
                    <span>&#xE923;</span>
                </div>
                <div class="button" id="close-button">
                    <span>&#xE8BB;</span>
                </div>
            </div>
        </div>
    </header>


    <!-- Main Content -->
    <div ng-controller="testController" layout="column" style="height:100%; margin-top: 32px;" ng-cloak>

        <!-- Side nav -->
        <section layout="row" flex>
            <md-sidenav class="sidenav" md-component-id="left" md-is-locked-open="true" md-whiteframe="5">
                <header>
                    <h1 class="nav-title">Chinese gezondheidsleer</h1>
                    <img class="logo" src="assets/img/icon.jpg" />
                </header>
                <div>
                    <md-button class="md-primary" ng-click="ChangeNav('Kruiden')">Kruiden
                    </md-button>
                    <md-button class="md-primary" ng-click="ChangeNav('PatentFormules')">
                        PatentFormule</md-button>
                    <md-button class="md-primary" ng-click="ChangeNav('KruidenFormules')">KruidenFormule</md-button>
                    <md-button class="md-primary" ng-click="ChangeNav('Syndroom')">Syndroom</md-button>
                </div>
            </md-sidenav>

            <md-content flex>

                <div layout-align="top center" style="margin-bottom: 50px;">
                    <!-- Table for Kruiden -->
                    <table class="black" ng-show="currentItem=='Kruiden'">
                        <tr>
                            <th>Nederlandse Naam</th>
                            <th>Latijnse Naam</th>
                            <th>Actie</th>
                        </tr>
                        <tr ng-repeat="kruid in kruiden">
                            <td>{{kruid.Nederlands}}</td>
                            <td>{{kruid.Latijns}}</td>
                        </tr>
                    </table>

                    <!-- Table for Patentformules -->
                    <table ng-cloak class="black" ng-show="currentItem=='PatentFormules'">
                        <tr>
                            <th>Nederlands</th>
                            <th>Engels</th>
                            <th>Pinjin</th>
                        </tr>
                        <tr ng-repeat="patentformule in patentFormules">
                            <td>{{patentformule.Nederlands}}</td>
                            <td>{{patentformule.Engels}}</td>
                            <td>{{patentformule.Pinjin}}</td>
                        </tr>
                    </table>

                    <!-- KruidenFormule Table -->
                    <table ng-cloak class="black" ng-show="currentItem=='KruidenFormules'">
                        <tr>
                            <th>Naam</th>
                        </tr>
                        <tr ng-repeat="kruidenformule in kruidenFormules">
                            <td>{{kruidenformule.Naam}}</td>
                        </tr>
                    </table>

                    <!-- Syndroom Table -->
                    <table ng-cloak class="black" ng-show="currentItem=='Syndroom'">
                        <tr>
                            <th>Syndroom</th>
                        </tr>
                        <tr ng-repeat="s in syndromen">
                            <td>{{s.Syndroom}}</td>
                        </tr>
                    </table>
                </div>

                <div flex></div>

            </md-content>
        </section>

    </div>



    <!-- <md-sidenav md-is-locked-open="true" class="sidenav" ng-controller="AppCtrl">
        <header>
            <h1 class="nav-title">Chinese gezondheidsleer</h1>
            <img class="logo" src="assets/img/icon.jpg" />
        </header>

        <div>
            <md-button class="md-primary" style="margin-left: 10px;" ng-click="loadData('kruiden')">Kruiden</md-button>
            <a href=" #">
                <md-button class="md-primary">PatentFormule</md-button>
            </a>
            <a href="#">
                <md-button class="md-primary">Syndroom</md-button>
            </a>
            <a href="#">
                <md-button class="md-primary">Symptoom</md-button>
            </a>
        </div>
    </md-sidenav>

    <md-content id="content" class="main-content" ng-controller="KruidenController">
        <table class="white">
            <tr>
                <th>Nederlandse Naam</th>
                <th>Latijnse Naam</th>
                <th>Actie</th>
            </tr>
            <tr ng-repeat="kruid in kruiden">
                <td>{{kruid.Nederlands}}</td>
                <td>{{kruid.Latijns}}</td>
            </tr>
        </table>
    </md-content> -->

    <script src="renderer.js"></script>
    <script src="app/models/Models.js"></script>
    <script src="app/models/KruidenModel.js"></script>
    <script src="app/app.js"></script>
</body>

</html>