/* Basic styling */
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    overflow-x: hidden;
}

/* Styling of window frame and titlebar */
body {
    border-top: 1px solid #1A2933;
    overflow-y: hidden;
}

.nav {
    background-color: #1A2933;
}

#titlebar {
    display: block;
    background-color: #1A2933;
    height: 50px;
}

.drag-region {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    height: 50px;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 8px;
    overflow-x: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

.windows-title {
    overflow: hidden;
    font-size: 30px;
    margin-left: 8px;
    margin-top: 0px;
    color: white;
}

.maximized #window-title {
    margin-left: 12px;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
    line-height: 50px;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button, .dummy {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: white
}

#window-controls .button {
    user-select: none;
    cursor: default;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

.dummy {
    color: #818181;
}

#close-button:hover {
    background: #E81123 !important;
}

#close-button:active {
    background: #f1707a !important;
    color: #000;
}

#min-button {
    grid-column: 1;
}

#close-button {
    grid-column: 3;
}

::-webkit-scrollbar {
    display: none;
}

.sidebarnav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 170px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    left: 0;
    background-color: #1A2933;
    overflow-x: hidden;
    user-select: none;
}

.logo {
    width: 170px;
    height: auto;
}

/* The navigation menu links */
md-sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
md-sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main-content {
    margin-left: 160px;
    background-color:#1A2933;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
    height: 100%;
}

md-content .ext-content {
    padding: 50px;
    margin: 20px;
  /* background-color: #FFF2E0; */
}

.appTitle {
    user-select: none;
    margin: auto;
    height: 100%;
    width: auto;
}

md-sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 170px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    left: 0;
    background-color: #1A2933;
    overflow-x: hidden;
}

.input-field {
    margin-bottom: 0rem !important;
}

.border {
    border: 1px solid black;
}

.make-scroll {
    overflow-y: scroll;
    overflow-y: auto;
}

.toepassingen {
    height: 500px;
}

.keep-styling {
    white-space: pre-line;
}

.keep-styling h4 {
    margin-top: -20px !important;
}

/*inputfield + label color*/
.input-field input[type=text]:focus + label {
    color: #4169E1 !important;
}

.input-field input[type=text]:focus {
    border-bottom: 1px #4169E1 solid  !important;
    box-shadow: 0 1px 0 0 #4169E1 !important;
}

.input-field {
    margin-left: 5px;
}

.inputFixedPos {
    position: fixed !important;
    top: 50px;
    left: 170px;
    right: 0;
    background-color: rgb(250, 250, 250);
}
/********/

.tabBody h4 {
    margin-top: 0px;
    -webkit-user-select: none;
}
.ingrediënten td {
    padding: 0px !important;
}

.basicData p{
    font-size: 20px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 5px;
}

.aantekeningen {
    /* height: 320px; */
    height: 100%;
}

.customIcon {
    float: right;
}

.customIcon:hover {
    color: red;
}

.tablePos {
    margin-top: 60px;
}

.inputFix {
    position: fixed;
    top: 50px;
    left: 170px;
    right: 0px;
    background-color: rgb(250, 250, 250);
    height: 30px;
}

#aantekening {
    height: 219px;
    margin: 0px;
    width: 382px;
    resize: none;
}

#vertical-container {
    height: 500px;
    width: 100%;
}

.repeated-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    height: 50px;
    padding-top: 10px; 
    line-height: 1.15;
}

md-virtual-repeat-container {
    border: solid 1px grey; 
}

.md-virtual-repeat-container .md-virtual-repeat-offsetter div {
    padding-left: 16px; 
}

.aantekeningSp {
    width: 318px !important;
}