/* Basic styling */
* {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Segoe UI", sans-serif;
    background: #1A2933;
    color: #FFF;
    overflow-x: hidden;
}

h1 {
    margin: 0 0 10px 0;
    font-weight: 600;
    line-height: 1.2;
}

p {
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.4);
}

/* Styling of window frame and titlebar */
body {
    border-top: 1px solid #1A2933;
    overflow-y: hidden;
}

#titlebar {
    display: block;
    position: fixed;
    height: 32px;
    width: calc(100% - 2px);
}

.maximized #titlebar {
    width: 100%;
    padding: 0;
}

#main {
    height: calc(100% - 32px);
    margin-top: 32px;
    padding: 20px;
    overflow-y: auto;
}

#titlebar {
    padding: 4px;
}

#drag-region {
    -webkit-app-region: drag;
    -webkit-user-select: none;
}

#titlebar {
    color: #FFF;
}

#titlebar #drag-region {
    display: grid;
    grid-template-columns: auto 138px;
}

#window-title {
    grid-column: 1;
    display: flex;
    align-items: center;
    margin-left: 8px;
    overflow-x: hidden;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
}

.maximized #window-title {
    margin-left: 12px;
}

#window-title span {
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
}

#window-controls {
    display: grid;
    grid-template-columns: repeat(3, 46px);
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    font-family: "Segoe MDL2 Assets";
    font-size: 10px;
}

#window-controls {
    -webkit-app-region: no-drag;
}

#window-controls .button {
    /* grid-row: 1 / span 1; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#window-controls .button {
    user-select: none;
    cursor: default;
}

#window-controls .button:hover {
    background: rgba(255, 255, 255, 0.1);
}

#window-controls .button:active {
    background: rgba(255, 255, 255, 0.2);
}

#close-button:hover {
    background: #E81123 !important;
}

#close-button:active {
    background: #f1707a !important;
    color: #000;
}

#min-button {
    grid-column: 1;
}

#max-button,
#restore-button {
    grid-column: 2;
}

#close-button {
    grid-column: 3;
}

#restore-button {
    display: none !important;
}

.maximized #restore-button {
    display: flex !important;
}

.maximized #max-button {
    display: none;
}

::-webkit-scrollbar {
    display: none;
}

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* float: left; */
    /* Disable horizontal scroll */
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main-content {
    margin-left: 160px;
    background-color:#1A2933;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
    height: 100%;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

.logo {
    width: 160px;
    height: auto;
}

md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0;
}

.appTitle {
    user-select: none;
    margin: auto;
    height: 100%;
    width: auto;
}

.black {
    color: black;
}

table, th, td {
    border: 1px solid black;
}

table thead {
    display: block;
}

/* table tbody {
    height: 200px;
    display: block;
    overflow-y: scroll;
} */

