<md-content ng-cloak flex>
    <md-tabs class="md-primary" md-center-tabs md-border-bottom md-dynamic-height md-enable-disconnect>
        <md-tab md-no-ink aria-label="Kruid Toevoegen" label="Kruid" ng-click="toggleForm('Kruid')">
            <md-content flex>
                <div ng-include='returnChosenForm()'></div>
            </md-content>
        </md-tab>
        <md-tab aria-label="Patentformule Toevoegen" label="Patentformule" ng-click="toggleForm('Patentformule')">
            <md-content>
                <div ng-include='returnChosenForm()'></div>
            </md-content>
        </md-tab>
        <md-tab aria-label="Kruidenformule Toevoegen" label="Kruidenformule" ng-click="toggleForm('Kruidenformule')">
            <md-content>
                <div ng-include='returnChosenForm()'></div>
            </md-content>
        </md-tab>
        <md-tab aria-label="Syndroom Toevoegen" label="Syndroom" ng-click="toggleForm('Syndroom')">
            <md-content>
                <div ng-include='returnChosenForm()'></div>
            </md-content>
        </md-tab>
        <md-tab aria-label="Chinees Kruid Toevoegen" label="Chinees Kruid" ng-click="toggleForm('Chinees Kruid')">
            <md-content>
                <div ng-include='returnChosenForm()'></div>
            </md-content>
        </md-tab>
        <md-tab aria-label="Symptoom Toevoegen" label="Symptoom" ng-click="toggleForm('Symptoom')">
            <md-content>
                <div ng-include='returnChosenForm()'></div>
            </md-content>
        </md-tab>
    </md-tabs>
</md-content>