<div ng-controller="AddSymptoomController">
    <md-content>
        <md-tabs md-dynamic-height md-center-tabs>
            <md-tab label="Verwijder een symptoom">
                <md-virtual-repeat-container id="vertical-container" class="row">
                    <div md-virtual-repeat="d in symptoomData | filter:search" class="repeated-item" flex>
                        <span class="col s10">{{d.Naam}}</span>
                        <span class="col s2">
                            <md-icon ng-click="showConfirm($event, d)" class="customIcon" md-svg-icon="delete:delete"
                                aria-label="delete">
                            </md-icon>
                        </span>
                    </div>
                </md-virtual-repeat-container>
            </md-tab>
            <md-tab label="Voeg een symptoom toe">
                <md-content class="md-padding">
                    <form novalidate ng-submit="updateSymptoom(symptoom, symptoomForm)" name="symptoomForm">
                        <div class="row">
                            <md-input-container class="md-block">
                                <label>Naam</label>
                                <input type="text" ng-model="symptoom.Naam" required symptoom-Directive name="naam" />
                                <div ng-messages="symptoomForm.naam.$error">
                                    <div ng-message="required">required.</div>
                                    <div ng-message="Naam">Symptoom met deze naam bestaat al!</div>
                                </div>
                            </md-input-container>
                        </div>
                        <md-button type="submit" style="bottom: 0;">Save</md-button>
                    </form>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-content>
</div>
<!-- ng-click="deleteSymptoom(d)" -->