<div>
    <div class="inputFix"></div>
    <div class="input-field inputFixedPos">
        <input id="inputField" type="text" ng-model="search" ng-model-options=" {debounce: 50}" autofocus></input>
        <label for="inputField">Zoek op kruidnaam(pinjin, Engels of latijns) of op thermische waarde</label>
    </div>
    <table class="tablePos">
        <tr>
            <th>Pinjin</th>
            <th>Engels</th>
            <th>Latijns</th>
            <th>Thermische Werking</th>
            <th></th>
        </tr>
        <tr ng-repeat="kruid in kruiden | filter:search">
            <td class="no-border" ng-click="GoToView(kruid.Id)">{{kruid.Pinjin}}</td>
            <td class="no-border" ng-click="GoToView(kruid.Id)">{{kruid.Engels}}</td>
            <td class="no-border" ng-click="GoToView(kruid.Id)">{{kruid.Latijn}}</td>
            <td class="no-border" ng-click="GoToView(kruid.Id)">{{kruid.ThermischeWerking}}</td>
            <td class="no-border" ng-click="GoToEdit(kruid.Id)">
                <md-icon class="customIcon" md-svg-icon="edit:edit" aria-label="edit">
                </md-icon>
            </td>
        </tr>
    </table>
</div>