<div>
    <div class="inputFix"></div>
    <div class="input-field inputFixedPos row">
        <input id="inputField" type="text" ng-model="search" ng-model-options=" {debounce: 50}" autofocus></input>
        <label for="inputField">Zoek op kruidenformule, kruidnaam(nederlands of latijns) of op symptoom</label>
        <a href="#!ZoekenKF" class="col s3 offset-s9">Geavanceerd zoeken</a>
    </div>
    <table class="tablePos"  style="margin-top: 80px;">
        <tr>
            <th>Kruidformule Naam</th>
            <th>Kruidnaam Nederlands</th>
            <th>Kruidnaam Latijns</th>
            <th>Symptomen</th>
            <th></th>
        </tr>
        <tr ng-repeat="kruidenformule in kruidenFormules | filter:search">
            <td ng-click="GoToView(kruidenformule.Id)">{{kruidenformule.Naam}}</td>
            <td ng-click="GoToView(kruidenformule.Id)">{{kruidenformule.Nederlands}}</td>
            <td ng-click="GoToView(kruidenformule.Id)">{{kruidenformule.Latijns}}</td>
            <td ng-click="GoToView(kruidenformule.Id)">{{kruidenformule.Symptomen}}</td>
            <td ng-click="GoToEdit(kruidenformule.Id)">
                <md-icon class="customIcon" md-svg-icon="edit:edit" aria-label="edit">
                </md-icon>
            </td>
        </tr>
    </table>
</div>