<input ng-model="Naam" ng-model-options=" {debounce: 50}" autofocus placeholder="Zoek op kruidformule"></input>
<table>
    <tr>
        <th>Kruidformule Naam</th>
        <th>Kruidnaam Nederlands</th>
        <th>Kruidnaam Latijns</th>
        <th>Symptomen</th>
    </tr>
    <tr ng-repeat="kruidenformule in kruidenFormules | filter:Naam"
        ng-click="GoToView(kruidenformule.Id)">
        <td>{{kruidenformule.Naam}}</td>
        <td>{{kruidenformule.Nederlands}}</td>
        <td>{{kruidenformule.Latijns}}</td>
        <td>{{kruidenformule.Symptomen}}</td>
    </tr>
</table>