<div>
    <div>
        <md-input-container class="md-block" style="margin-bottom: 0px;">
            <label for="inputField">Zoek op kruidnaam(nederlands of latijns) of op thermische waarde</label>
            <input id="inputField" type="text" ng-model="search" ng-model-options="{debounce: 50}" autofocus></input>
        </md-input-container>
    </div>
    <div>
        <table>
            <tr>
                <th>Nederlandse Naam</th>
                <th>Latijnse Naam</th>
                <th>Thermische Waarde</th>
                <th></th>
            </tr>
            <tr ng-repeat="kruid in kruiden | filter:search">
                <td ng-click="GoToView(kruid.Id)">{{kruid.Nederlands}}</td>
                <td ng-click="GoToView(kruid.Id)">{{kruid.Latijns}}</td>
                <td ng-click="GoToView(kruid.Id)">{{kruid.ThermischeWaarde}}</td>
                <td ng-click="GoToEdit(kruid.Id)">
                    <md-icon class="customIcon" md-svg-icon="edit:edit" aria-label="edit">
                    </md-icon>
                </td>
            </tr>
        </table>
    </div>
</div>