<div>
    <div class="inputFix"></div>
    <div class="input-field inputFixedPos row">
        <input id="inputField1" type="text" ng-model="search" ng-model-options=" {debounce: 50}" autofocus></input>
        <label for="inputField1">Zoek op patentnaam(nederlands,engels of pinijn) of op symptoom</label>
        <a href="#!Zoeken" class="col s3 offset-s9">Geavanceerd zoeken</a>
    </div>
    <table class="tabelPos" style="margin-top: 80px;">
        <tr>
            <th>Nederlands</th>
            <th>Engels</th>
            <th>Pinjin</th>
            <th>Symptoom</th>
            <th></th>
        </tr>
        <tr ng-repeat="patentformule in patentFormules | filter:search">
            <td ng-click="GoToView(patentformule.Id)">{{patentformule.Nederlands}}</td>
            <td ng-click="GoToView(patentformule.Id)">{{patentformule.Engels}}</td>
            <td ng-click="GoToView(patentformule.Id)">{{patentformule.Pinjin}}</td>
            <td ng-click="GoToView(patentformule.Id)">{{patentformule.Symptomen}}</td>
            <td ng-click="GoToEdit(patentformule.Id)">
                <md-icon class="customIcon" md-svg-icon="edit:edit" aria-label="edit">
                </md-icon>
            </td>
        </tr>
    </table>

</div>