<div class="input-field">
    <input id="inputField" type="text" ng-model="search" ng-model-options=" {debounce: 50}" autofocus></input>
    <label for="inputField">Zoek op patentnaam(nederlands,engels of pinijn) of op symptoom</label>
</div>
<table>
    <tr>
        <th>Nederlands</th>
        <th>Engels</th>
        <th>Pinjin</th>
        <th>Symptoom</th>
    </tr>
    <tr ng-repeat="patentformule in patentFormules | filter:search" ng-click="GoToView(patentformule.Id)">
        <td>{{patentformule.Nederlands}}</td>
        <td>{{patentformule.Engels}}</td>
        <td>{{patentformule.Pinjin}}</td>
        <td>{{patentformule.Symptomen}}</td>
    </tr>
</table>