<div class="input-field">
    <input id="inputField" type="text" ng-model="search" ng-model-options=" {debounce: 50}" ng-click="GoToView(PatentFormules)"></input>
    <label for="inputField">Zoek op patentnaam(nederlands,engels of pinijn) of op symptoom</label>
</div>
<div class="basicData">
    <p><b>Nederlands: </b>{{patentformules.Nederlands}}</p>
    <p><b>Engels: </b>{{patentformules.Engels}}</p>
    <p><b>Pinjin: </b>{{patentformules.Pinjin}}</p>
</div>
<md-tabs class="md-primary" md-center-tabs>
    <md-tab label="Algemeen">
        <md-content class="md-padding">
            <div class="tabBody">
                <div class="row">
                    <div class="inhoudsstoffen col s6">
                        <h4>Inhoudsstoffen</h3>
                        <table>
                            <tr>
                                <th>Kruid</th>
                                <th>Verhouding</th>
                            </tr>
                            <tr ng-repeat="chinesekruiden in chineseKruiden">
                                <td>{{chinesekruiden.Pinjin}}</td>
                                <td>{{chinesekruiden.Verhouding}}</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col s1"></div>
                    <div class="aantekeningen col s5 border">
                        <h4>Aantekeningen</h4>
                        <textarea id="aantekening" >{{patentformules.message}}</textarea>
                        <md-button class="md-raised md-primary col s6 offset-s3" ng-click="smessage()">Opslaan</md-button>
                    </div>
                </div>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="Werking">
        <md-content class="md-padding">
            <div class="tabBody">
                <div class="row">
                    <div class="werking col s6 border">
                        <h4>Werking</h4>
                        <p>{{patentformules.Werking}}</p>
                    </div>
                    <div class="col s1"></div>
                    <div class="contraIndicatie col s5 border">
                        <h4>Contra indicatie</h4>
                        <p>{{patentformules.ContraIndicaties}}</p>
                    </div>
                </div>
                <table>
                    <tr>
                        <th>Tong</th>
                        <td>{{patentformules.Tong}}</td>
                    </tr>
                    <tr>
                        <th>Pols</th>
                        <td>{{patentformules.Pols}}</td>
                    </tr>
                </table>
            </div>
        </md-content>
    </md-tab>
    <md-tab label="Symptoom">
        <md-content class="md-padding">
            <div class="tabBody">
                <div class="symptomen keep-styling" style="margin-top: -25px;">
                    <p>{{patentformules.Symptomen}}</p>
                </div>
            </div>
        </md-content>
    </md-tab>
</md-tabs>