<div>
    <md-button class="md-raised md-primary"ng-click="GoBack()">Terug</md-button>
</div>
<div class="row">
    <div class="col s4">
        <h5>Werking</h5>
        <md-button class="md-raised md-primary" ng-hide="inputs1.length == 5" ng-click="addfield(1)">Add field</md-button>
        <md-button class="md-raised md-primary" ng-show="inputs1.length > 1" ng-click="removefield(1)">Remove field</md-button>
        <div ng-repeat="item in inputs1">
            <input ng-model="item.value"\>
        </div>
    </div>
    <div class="col s4">
        <h5>Ingrediënten</h5>
        <md-button class="md-raised md-primary" ng-hide="inputs2.length == 5" ng-click="addfield(2)">Add field</md-button>
        <md-button class="md-raised md-primary" ng-show="inputs2.length > 1" ng-click="removefield(2)">Remove field</md-button>
        <div ng-repeat="item in inputs2">
            <input ng-model="item.value"\>
        </div>
    </div>
    <div class="col s4">
        <h5>Symptomen / Indicaties</h5>
        <md-button class="md-raised md-primary" ng-hide="inputs3.length == 5" ng-click="addfield(3)">Add field</md-button>
        <md-button class="md-raised md-primary" ng-show="inputs3.length > 1" ng-click="removefield(3)">Remove field</md-button>
        <div ng-repeat="item in inputs3">
            <input ng-model="item.value"\>
        </div>
    </div>
    <div class="col s3 offset-s9">
        <md-button class="md-raised md-primary" ng-click="GoToView()">Zoeken</md-button>
    </div>
</div>